body {
    background-color: black;
    font-family: arial;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}

.countries{
    display:none;
}

.countries.active
{
    display: block;
    list-style: none;
}